/* a{
    text-decoration: none;
    color: #000;
}

header{
    width: 300px;
    height: 100vh;
    border-right: 1px solid #ddd;
}
header>h1{text-align: center;}
header>h1>a{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    display: block;
}

nav{margin-top: 50px;}
nav>ul{border-top: 1px solid #000;}
nav>ul>li:hover{background: red;}
nav>ul>li{
    border-bottom: 1px solid #000;
    text-align: center;
}
nav>ul>li>a{
    padding: 20px;
    display: block;
}
nav>ul>li>ul{display: none;}
nav>ul>li:hover>ul{
    display: block;
    background: #ddd;
}
nav>ul>li>ul>li{transition: .3s;}
nav>ul>li>ul>li:hover{background: #000;}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
}
nav>ul>li>ul>li:hover>a{color: #fff;} */

a{text-decoration: none; color: #333;}

header{
    border-right: 1px solid #333;
    width: 380px;
    height: 100vh;
}
header>h1{text-align: center;}
header>h1>a{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    display: block;
}

nav{margin-top: 50px;}
nav>ul{border-top: 1px solid #333;}
nav>ul>li:hover{background: red;}
nav>ul>li:hover>a{color: #fff}
nav>ul>li{
    text-align: center;
    border-bottom: 1px solid #333;
}
nav>ul>li>a{
    display: block;
    padding: 20px;
}
nav>ul>li>ul{
    display: none;
}
nav>ul>li:hover>ul{
    display: block;
    background: #eee;
}
nav>ul>li>ul>li{transition: .3s;}
nav>ul>li>ul>li:hover{background: #000;}
nav>ul>li>ul>li:hover>a{color: #fff;}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
}