/* a{
    text-decoration: none;
    color: #000;
}

#wrap{width: 100%; height: 100%;}
#wrap header{
    width: 300px;
    height: 100vh;
    border-right: 1px solid #ccc;
}
#wrap header h1{
    text-align: center;
    padding: 30px;
}
#wrap header h1 a{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
#wrap header nav{
    margin-top: 50px;
}
#wrap header nav>ul{
    border-top: 1px solid #ccc;
    position: relative;
}
#wrap header nav>ul>li{
    border-bottom: 1px solid #ccc;
}
#wrap header nav>ul>li>a{
    padding: 20px;
    display: block;
    text-align: center;
}
#wrap header nav>ul>li>ul{
    position: absolute;
    top: 0; left: 301px;
    background: yellowgreen;
    height: 284px;
    width: 300px;
    display: none;
}
#wrap header nav>ul>li:hover>ul{
    display: block;
}
#wrap header nav>ul>li>ul>li{
    border-bottom: 1px solid #ccc;
}
#wrap header nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
    color: #fff;
} */

a{text-decoration: none; color: #000;}

#wrap{width: 100%; height: 100%;}
#wrap header{
    border-right: 1px solid #000;
    width: 250px;
    height: 100vh;
}
#wrap header h1{
    text-align: center;
    padding: 30px;
}
#wrap header h1 a{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

nav{
    margin-top: 50px;
}
nav>ul{
    text-align: center;
    border-top: 1px solid #000;   
}
nav>ul>li{
    border-bottom: 1px solid #000;
    position: relative;
}
nav>ul>li>a{
    display: block;
    padding: 20px;
}
nav>ul>li:hover{
    background: #777;
}
nav>ul>li:hover>a{color: #fff;}
nav>ul>li:hover>ul{
    display: block;
}
nav>ul>li>ul{
    display: none;
    background: red;
    position: absolute;
    width: 250px;
    top: -1px; left: 251px;
}
nav>ul>li>ul>li{
    transition: .4s;
}
nav>ul>li>ul>li:hover{
    background: green;
}
nav>ul>li>ul>li:hover>a{
    color: #fff;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
}