a{text-decoration: none; color: #000;}

nav{
    background: green;
    padding: 20px 0;
}
nav>ul{
    display: flex;
    position: relative;
}
nav>ul>li{
    position: relative;
}
nav>ul>li>a{
    padding: 19px 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
nav>ul>li>ul{
    display: none;
    position: absolute;
    background: #f1f1f1;
    top: 36px;
    width: 100%;
}
nav>ul:hover>li>ul{
    display: block;
}
nav>ul>li>ul>li{
    text-align: center;
    transition: .5s;
}
nav>ul>li>ul>li:hover{
    background: pink;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 15px;
    /*a의 영역이 넓어지면서 링크를 누를 수 있는 범위가 넓어짐
    - li에 줘도 모양은 똑같지만 사용성을 생각해 a에 주는 것이 좋음*/
}
nav>ul>li>ul>li:hover>a{
    color: #fff;
}