*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    margin: 20px;
}
.box{
    border: 5ox solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}
.container{
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.container>div{
    padding: 20px 40px;
    background: green;
    width: 300px;
    margin: 10px 0;

}
.container>div:nth-child(odd){
    background: rgb(255, 191, 0);
}

.content1 #opt1{
    display: flex;
    flex-direction: row; /* 기본값 */
}
.content1 #opt2{
    display: flex;
    flex-direction: row-reverse;
}
.content1 #opt3{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1000px) {
    .content1 #opt3{
        flex-direction: column;
    } 
}
.content1 #opt4{
    display: flex;
    flex-direction: column-reverse;
}


.content2 #opt11{
    display: flex;
    flex-wrap: nowrap;
}
@media screen and (max-width: 1000px) {
    .content2 #opt11{
        flex-wrap: wrap;
    }
}
.content2 #opt12{
    display: flex;
    flex-wrap: wrap;
}
.content2 #opt13{
    display: flex;
    flex-wrap: wrap-reverse;
}

.content3 #opt111{
    display: flex;
    justify-content: start; /* 기본값 */
}
.content3 #opt112{
    display: flex;
    justify-content: end;
}
.content3 #opt113{
    display: flex;
    justify-content: center;
}
.content3 #opt114{
    display: flex;
    justify-content: space-between;
}
.content3 #opt115{
    display: flex;
    justify-content: space-around;
}
.content3 #opt116{
    display: flex;
    justify-content: space-evenly;
}